In [ ]:
import wikipediaapi
import wikipedia
import pandas as pd
import json

In [ ]:
w_page = wikipediaapi.Wikipedia(
    user_agent='docu3c (vshrav03@gmail.com)',
        language='en',
        extract_format=wikipediaapi.ExtractFormat.WIKI
)

In [ ]:
dict1 = {}
dict1["Aan Milo Sajna"] = w_page.page("Aan Milo Sajna").summary

In [ ]:
print(dict1)

In [5]:
print(w_page.page("Aan Milo Sajna").sections)

[Section: Plot summary (1):
Widowed and ailing Savitri Choudhury lives a wealthy lifestyle along with her son, Anil, in a palatial mansion in India. She knows that Anil is only waiting for her to die so that he can inherit the wealth and refuses to give him any money. The Diwan convinces Anil to mend his ways, get married, and patch-up with his mom. Shortly thereafter, Anil does appear to have mended his ways, gets involved in charity, and even introduces a young woman named Deepali to his mom. Deepali moves into the mansion and looks after Savitri so much so that Savitri decides to make her the sole beneficiary of her estate. What Savitri does not know is that Anil has hired Deepali to act as his fiancée, and that Deepali herself is not who she claims to be, and is actually in love with a local horse-riding peasant, Ajit, whose father was convicted of killing Savitri's husband, and soon Ajit himself will be arrested by the police for having an affair with and then killing a woman named Sita.
Subsections (0):
, Section: Cast (1):

Subsections (0):
, Section: Soundtrack (1):
The musical score for the film was composed by Laxmikant–Pyarelal and the lyrics were written by Anand Bakshi.
Subsections (0):
, Section: References (1):

Subsections (0):
, Section: External links (1):
Aan Milo Sajna at IMDb
Aan Milo Sajna  Full movie YouTube
Subsections (0):
]

In [6]:
import os
current_dir = os.getcwd()
print(current_dir)

/Users/rambo

In [7]:
os.chdir("/Users/rambo/Desktop")

In [8]:
current_dir = os.getcwd()
print(current_dir)

/Users/rambo/Desktop

In [9]:
plot_keywords = pd.read_csv("male_adjverb.csv", on_bad_lines='skip')

In [10]:
plot_keywords.head()

,year,k1,k2,k3,k4,k5,k6,k7,k8,k9,...,k16,k17,k18,k19,k20,k21,k22,k23,k24,k25
0,1970,[],[unhappilly],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1970,[lives],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1970,[lives],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1970,[],[famous],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1970,[],[shy,young],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
plot_keywords.columns

Index(['year', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10',
       'k11', 'k12', 'k13', 'k14', 'k15', 'k16', 'k17', 'k18', 'k19', 'k20',
       'k21', 'k22', 'k23', 'k24', 'k25'],
      dtype='object')

In [12]:
plot_keywords = plot_keywords.reset_index()

In [13]:
plot_keywords.index.is_unique

True

In [14]:
plot_keywords.index.duplicated()

array([False, False, False, ..., False, False, False])

In [15]:
plot_keywords.flags.allows_duplicate_labels = False

In [16]:
plot_keywords['keys'] = pd.concat([plot_keywords['k1'],plot_keywords['k2'],plot_keywords['k3'],plot_keywords['k4'],plot_keywords['k5'],
                                 plot_keywords['k6'],plot_keywords['k7'],plot_keywords['k8'],plot_keywords['k9'],plot_keywords['k10'],
                                 plot_keywords['k11'],plot_keywords['k12'],plot_keywords['k13'],plot_keywords['k14'],plot_keywords['k15'],
                                 plot_keywords['k16'],plot_keywords['k17'],plot_keywords['k18'],plot_keywords['k19'],plot_keywords['k20'],
                                 plot_keywords['k21'],plot_keywords['k22'],plot_keywords['k23'],plot_keywords['k24'],plot_keywords['k25']], ignore_index=True)

In [17]:
plot_keywords.columns.is_unique

True

In [18]:
plot_keywords.columns

Index(['index', 'year', 'k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9',
       'k10', 'k11', 'k12', 'k13', 'k14', 'k15', 'k16', 'k17', 'k18', 'k19',
       'k20', 'k21', 'k22', 'k23', 'k24', 'k25', 'keys'],
      dtype='object')

In [19]:
plot_keywords.head()

,index,year,k1,k2,k3,k4,k5,k6,k7,k8,...,k17,k18,k19,k20,k21,k22,k23,k24,k25,keys
0,0,1970,[],[unhappilly],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
1,1,1970,[lives],[],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[lives]
2,2,1970,[lives],[],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[lives]
3,3,1970,[],[famous],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4,1970,[],[shy,young],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]

In [ ]:
cols = ['k1','k2','k3','k4','k5','k6','k7','k8','k9','k10',
       'k11','k12','k13','k14','k15','k16','k17','k18','k19','k20',
       'k21','k22','k23','k24','k25']

i=0
while i<25:
    keys=plot_keywords[cols[i]].values.tolist()

In [ ]:
print(keys)